@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #16a34a;
}

.skater-red {
  background-color: #d32f2f;
  color: #fff;
}
.skater-pink {
  background-color: #f48fb1;
  color: #000;
}
.skater-purple {
  background-color: #9c27b0;
  color: #fff;
}
.skater-blue {
  background-color: #1e88e5;
  color: #fff;
}
.skater-green {
  background-color: #43a047;
  color: #fff;
}
.skater-yellow {
  background-color: #ffeb3b;
  color: #000;
}
.skater-orange {
  background-color: #ff5722;
  color: #fff;
}
.skater-white {
  background-color: #fff;
  color: #000;
}
.skater-black {
  background-color: #000;
  color: #fff;
}
